{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 80,
  "tabWidth": 4,
  "arrowParens": "avoid",
  "importOrder": [
    "^@nest/(.*)$",
    "^@common/(.*)$",
    "^@configs/(.*)$",
    "^@constants/(.*)$",
    "^@entities/(.*)$",
    "^@guards/(.*)$",
    "^@modules/(.*)$",
    "^@repositories/(.*)$",
    "^@shared/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": [
    "classProperties",
    "decorators-legacy",
    "typescript"
  ]
}